**/.venv/
**/.winvenv/
**/.vscode/
*.pyc
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/node_modules/
docs/docs/.vitepress/cache/
docs/docs/.vitepress/temp/
ui/dist/
build/
dist/
src/writer.egg-info/
*:Zone.Identifier
*.DS_Store
src/writer/static
src/writer/app_templates/*
!src/writer/app_templates/.gitkeep
src/writer/ui.py
src/ui/src/stories/**
src/ui/components.codegen.json
playground/
*.mp4
.turbo
