**/.venv/
**/.winvenv/
**/.vscode/
*.pyc
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/node_modules/
docs/docs/.vitepress/cache/
docs/docs/.vitepress/temp/
ui/dist/
ui/custom_components_dist/
build/
dist/
src/streamsync.egg-info/
*:Zone.Identifier
*.DS_Store
src/streamsync/static
playground/
*.mp4