@font-face {
	font-family: "Inter";
	src: url("../assets/Inter-Regular.ttf") format("truetype"),
		url("../assets/Inter-Regular.woff2") format("woff2");
}

h1,
h2,
h3,
h4 {
	margin: 0;
	color: var(--primaryTextColor);
}

h1 {
	font-size: 1.5rem;
	letter-spacing: 0.1875rem;
	font-weight: 600;
	line-height: 162.5%;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 120%;
}

h3 {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 120%;	
}

h4 {
	font-weight: 700;
	font-size: 1rem;
	line-height: 247.5%;
}

ul,
ol {
	padding: 0;
	padding-inline-start: 0;
	margin-block-start: 0;
}

li {
	margin: 0 0 0 32px;
}

hr {
	border: none;
	border-top: 1px solid var(--separatorColor);
}

label {
	color: var(--primaryTextColor);
}

code {
	background-color: var(--separatorColor);
}

.component {
	font-size: 0.875rem;
}

.component.selected {
	background-color: var(--builderSelectedColor);
}

[data-writer-slot-of-id] {
	display: none;
	opacity: 0;
	border-radius: 4px;
	border: 1px solid var(--separatorColor);
	box-shadow: 0 0 3px 0 var(--separatorColor) inset;
	min-height: 0px;
	min-width: 0px;
	overflow: hidden;
	animation: appear 0.2s reverse;
}

[data-writer-slot-of-id].highlighted {
	background: var(--builderIntenseSelectedColor);
}

[data-writer-container] {
	display: flex;
	gap: 16px;
}

[data-writer-container]:not(.horizontal) {
	flex-direction: column;
}

[data-writer-container].horizontal {
	flex-direction: row;
}

[data-writer-container].crackedContainer > [data-writer-slot-of-id] {
	animation: appearVertical 0.2s forwards;
	display: block;
}

[data-writer-container].crackedContainer.horizontal
	> [data-writer-slot-of-id] {
	animation: appearHorizontal 0.2s forwards;
	align-self:center;
	display: block;
}

@keyframes appearHorizontal {
	0% {
		min-height: 0px;
		min-width: 0px;
		opacity: 0;
	}

	100% {
		height: 100%;
		min-height: 24px;
		min-width: 4px;
		opacity: 1;
	}
}

@keyframes appearVertical {
	0% {
		min-height: 0px;
		min-width: 0px;
		opacity: 0;
	}

	100% {
		width: 100%;
		min-height: 4px;
		min-width: 24px;
		opacity: 1;
	}
}
