h1,
h2,
h3 {
	font-weight: 600;
	margin: 0;
}

h1 {
	font-size: 1.3rem;
}

h2 {
	font-size: 1rem;
}

h3 {
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
}

h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.65rem;
	letter-spacing: 0.2ch;
}

.insertionOverlay {
	background: rgba(210, 234, 244, 0.5);
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	max-height: 100%;
	max-width: 100%;
}

.insertionOverlay .label {
	border-radius: 16px;
	box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.4);
	position: absolute;
	right: 0;
	height: 24px;
	padding: 4px 16px 0 16px;
	top: -24px;
	color: white;
	background: var(--builderActionOngoingColor);
}

button {
	border: none;
	background: var(--builderSubtleSeparatorColor);
	outline: none;
	color: var(--builderPrimaryTextColor);
	padding: 10px 12px 10px 12px;
	border-radius: 4px;
	font-size: 0.75rem;
	cursor: pointer;
	display: flex;
	gap: 8px;
	align-items: center;
}

button:has(i + i) {
	gap: 0;
}

button[variant="subtle"] {
	background: unset;
}
button[variant="subtle"]:hover,
button[variant="subtle"]:focus {
	background: var(--builderActionOngoingColor);
	color: var(--builderBackgroundColor);
}

textarea[variant="code"] {
	font-family: Consolas, monospace;
}

input[type="button"],
input[type="submit"],
input[type="radio"],
input[type="reset"],
input[type="color"] {
	cursor: pointer;
}

code {
	font-family: monospace;
}

.markdown code {
	background-color: var(--builderSubtleSeparatorColor);
	padding: 2px;
}
