:root {
	--wdsColorWhite: #ffffff;
	--wdsColorBlack: #000000;

	--wdsColorBlue1: #f3f5ff;
	--wdsColorBlue2: #e4e9ff;
	--wdsColorBlue3: #bfcbff;
	--wdsColorBlue4: #6985ff;
	--wdsColorBlue5: #5551ff;
	--wdsColorBlue6: #4a46da;

	--wdsColorGray0: #fbfbfd;
	--wdsColorGray1: #f5f5f9;
	--wdsColorGray2: #e4e7ed;
	--wdsColorGray3: #d2d4d7;
	--wdsColorGray4: #828282;
	--wdsColorGray5: #4f4f4f;
	--wdsColorGray6: #333333;

	--wdsColorPurple1: #f6effd;
	--wdsColorPurple2: #ede2ff;
	--wdsColorPurple3: #d4b2f7;
	--wdsColorPurple4: #a95ef8;
	--wdsColorPurple5: #721cc9;

	--wdsColorOrange1: #fff4f1;
	--wdsColorOrange2: #ffcfc2;
	--wdsColorOrange4: #ff8866;
	--wdsColorOrange5: #ff643c;

	--wdsColorGreen1: #f2fffb;
	--wdsColorGreen2: #d4fff2;
	--wdsColorGreen3: #a9f9e1;
	--wdsColorGreen5: #3bdcab;
	--wdsColorGreen6: #078660;

	--wdsShadowBox: 0px 2px 0px 0px #f3f3f3;
	--wdsShadowMenu: 0px 1px 8px 0px #bfcbff40;
	--wdsShadowLarge: 0px 3px 40px 0px #acb9dc66;
}
