name: doc-notify

on:
  pull_request_target:
    types: [closed]
    branches:
      - dev

jobs:
  notify:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'poetry'

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: npm

      - name: install python3 environment
        run: poetry install --with build

      - name: notify slack channel
        run: poetry run alfred github.notify-changes-doc --slack-webhook $SLACK_WEBHOOK_DOC
        env:
          SLACK_WEBHOOK_DOC: ${{ secrets.SLACK_WEBHOOK_DOC }}

